@import url('vendor/reset.css');
@import url('components/header.css');
@import url('components/main.css');
@import url('components/offer.css');
@import url('components/benefit.css');
@import url('components/cases.css');
@import url('components/reviews.css');
@import url('components/footer.css');
@import url('components/stages.css');
@import url('components/price.css');
@import url('components/application.css');
@import url('vendor/animate.css');
@import url('components/modal.css');



@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
}

.background__lines{
    background: #1D1B1B;
}
.background__lines.landing{
    background: #ffffff;
}
.background-color{
    background:url('../img/backlines_animated.svg') center;
    background-position: top;
}
.background__lines.corporate{
    background: #ffffff;
}
.background-color.corporate{
    background:url('../img/backlines_animated1.svg') center;
    background-repeat: no-repeat;
    background-position: top;
}
@media(max-width:425px){
    .background-color{
        background:url('../img/backline-mobile.svg') center;
        background-repeat: no-repeat;
        background-position: top;
    }
    .background-color.corporate{
        background:url('../img/backline-mobile.svg') center;
        background-repeat: no-repeat;
        background-position: top;
    }
}