.application__inner {
    text-align: center;
}
.application__inner h1{
    font-family: 'Gilroy-semi';
    font-size: 36px;
    line-height: 45px;
    color: #5A2BBA;
    padding-bottom: 10px;

}
.application__inner p{
    font-family: 'Gilroy-reg';
    font-size: 18px;
    line-height: 21px;
    color: #1D1B1B;
    padding-bottom:20px;
}
.application__inner span{
    font-family: 'Gilroy-semi';
}
.application__form input{
    width: 315px;
    padding:10px;
    background:transparent;
    border: 2px solid #1D1B1B;
    font-family: 'Gilroy-reg';
    font-size: 18px;
    line-height: 21px;
    color: #1D1B1B;
}
.application__form button{
    width: 190px;
    padding:10px;
    background: #1D1B1B;
    border: 2px solid #1D1B1B;
    font-family: 'Gilroy-reg';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    position:relative;
    left:-7px;
}


@media(max-width:768px){
    .application__form input {
        width: 298px;
    }
    .application {
        padding-bottom:50px;
        border-bottom: 3px solid #C34381;

    }
}

@media(max-width:425px){
    .application__form button {
        width: 322px;   
        left: 0;
        margin-top:20px;
    }
}
@media(max-width:325px){
    .application__form input {
        width: 260px;
    }
    .application__form button {
        width: 284px;   
        left: 0;
        margin-top:20px;
    }
    .application__inner p {
        font-size: 13px;
    }
}