.benefit{
    position: relative;
    background:#fff;
}
.benefit::before{
    content: '';
    position: absolute;
    background-color: #C34381;
    width: 150px;
    height: 2px;
    left: 0px;
    top: 87px;
    z-index: 1;
}
.benefit__inner{
    display: flex;
    flex-wrap: wrap;
    padding-bottom:70px;
}
.benefit__content{
    width: 20%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    border-right: 2px solid #C34381;
    padding: 25px 15px;
    text-align: center;
}
.benefit__content:last-child{
    border-right: none;
}
.benefit__content h2{
    font-family: 'Gilroy-semi';
    font-size: 16px;
    line-height: 19px;
    color: #C34381;
    padding: 20px 0 10px 0;
}
.benefit__content p{
    font-family: 'Gilroy-reg';
    font-size: 14px;
    line-height: 16px;
    color: #1D1B1B;
}

@media(max-width:1200px){
    .benefit::before {
        width: 108px;
    }
}

@media(max-width:800px){
    .benefit__content{
        width:33.3%;
        margin: 0 auto;
    }
    .benefit__content:nth-child(3){
        border-right: none;
    }
    .benefit__content:nth-child(4){
        border-right: none;
        position:relative;
    }
    .benefit__content:nth-child(4)::after{
        content: "";
        width: 2px;
        background:#C34381;
        height: 100%;
        position: absolute;
        right: -43.422px;
    }
}

@media(max-width:600px){
    .benefit::before{
        width: 300px;
        top: 127px;
    }
}
@media(max-width:480px){
    .benefit__content{
        width:63%;
        margin: 0 auto;
    }
    .benefit__content{
        border-right: none;
        border-bottom: 2px solid #C34381;
    }
    .benefit__content:last-child{
        border-bottom: none;
    }
    .benefit__content:nth-child(4)::after{
        display: none;
    }
    .benefit::before{
        width: 300px;
        top: 127px;
        z-index: auto;
    }
}





/* landing */
.benefit__content.landing{
    width: 16.6%;   
}
.benefit.landing{
    background:transparent
}

@media(max-width:768px){
    .benefit__content.landing{
        width: 33.3%;   
    }
    .benefit__content.landing:nth-child(4){
        border-right: 2px solid #C34381;
        border-top:2px solid #C34381;
    }
    .benefit__content.landing:nth-child(6){
        border-top:2px solid #C34381;
    }
    .benefit__content.landing:nth-child(5){
        border-top:2px solid #C34381;
    }
    .benefit__content:nth-child(4)::after{
        display: none;
    }
}
@media(max-width:425px){
    .benefit__content.landing{
        width: 60%;   
    }
    .benefit__content.landing:nth-child(4){
        border-right: none;
        border-top:none;
    }
    .benefit__content.landing:nth-child(6){
        border-top:none;
    }
    .benefit__content.landing:nth-child(5){
        border-top:none;
    }
    .benefit__content:nth-child(4)::after{
        display: none;
    }
}
@media(max-width:355px){
    .benefit__content.landing{
        width: 80%;   
    }
}
