.case{
    position: relative;
}
.case::before{
    content: '';
    position: absolute;
    background-color: #C34381;
    width: 150px;
    height: 2px;
    left: 0px;
    top: 87px;
    z-index: 1;
}
.case__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
}
.case__card{
    width: calc(33.3% - 54px);
    height: 400px;
    position: relative;
    box-shadow: 0px 6px 20px rgba(90, 43, 186, 0.4);
}
.case__card:hover .case__card__content{
    transition:.4s;
    height:100%;
    padding: 50px 30px;
}
.case__card__content{
    position: absolute;
    bottom:0;
    background: linear-gradient(180deg, rgba(90, 43, 186, 0) 0%, #5A2BBA 100%);
    height: 300px;
    width: 100%;
    padding: 30px;
    transition:.4s;

}

.case__card__content h2{
    font-family: 'Gilroy-semi';
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top:160px;
}
.case__card__content p{
    font-family: 'Gilroy-reg';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 10px 0 30px 0; 
}

/* landing */
.case__card__content.landing{
    background: linear-gradient(180deg, rgba(195, 67, 129, 0) 0%, #C34381 100%);  
}



@media(max-width:1200px){
    .case::before {
        width: 108px;
    }
    .case__card {
        width: calc(33.3% - 24px);
    }
}


@media(max-width:1024px){
    .case__card {
        width: calc(50% - 95px);
        margin: 0 auto;
    }
    .case__card:last-child{
        margin-top:50px;
    }
}
@media(max-width:800px){
    .case__card {
        width: calc(100% - 225px);
        margin: 0 auto;
    }
    .case__card{
        margin-top:50px;
    }
}

@media(max-width:600px){
    .case::before{
        width: 300px;
        top: 127px;
    }
}
@media(max-width:480px){
    .case__card {
        width: calc(100% - 94px);
        margin: 0 auto;
    }
    .case__card{
        margin-top:50px;
    }
    .case::before{
        width: 300px;
        top: 127px;
        z-index: auto;
    }
}

@media(max-width:375px){
    .case__card{
        height: 347px;
    }
    .case__card img{
        width:100%;
    }
       
}

@media(max-width:320px){
    .case__card{
        height: 279px;
    }
    .case__card__content {
        padding: 11px;
    }
    .case__card__content h2{
        padding-top: 200px;
    }
    .case__card__content p {
        font-size: 12px;
    }
    .case__card__content h2 {
        font-size: 22px;
    }
}