.footer{
    padding: 60px;
    background:#fff;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
    
}
.footer__card{
    width: 20%;
}
.footer__logo img{
    padding-bottom:15px;
}
.footer__logo p{
    padding-bottom:15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 200%;
    color: #1D1B1B;
}
.footer__social img{
    padding-right: 10px;
}
.footer__name h1{
    font-family: 'Gilroy-semi';
    font-size: 18px;
    line-height: 22px;
    color: #1D1B1B;
    padding-bottom: 20px;

}
.nav__footer__item{
    list-style: none;
    padding-bottom: 20px;

}
.nav__footer__link{
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 14px;
    color: #1D1B1B;
    text-decoration: none;
}
.nav__footer__link:hover{
    color:#5A2BBA;
}
.footer__contacts a{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #1D1B1B;
}
.footer__contacts p{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #1D1B1B;
    padding:20px 0;
}
.footer__contacts p:last-child{
    padding: 0;
}
.footer__input input{
    width: 190px;
    height: 40px;
     border: 1px solid #1D1B1B;
    box-sizing: border-box;
    /* box-shadow: 0px 14px 30px rgba(208, 10, 18, 0.3); */
    padding:0 10px;
    margin-bottom: 20px;
}
.footer__input button{
    width: 190px;
    height: 40px;
    background: linear-gradient(101.89deg, #5A2BBA 0%, #C34381 100%);
    box-shadow: 0px 6px 10px rgba(90, 43, 186, 0.4);
    font-family: 'Gilroy-semi';
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media(max-width:800px){
    .footer__card:first-child{
        width: 100%;
        text-align: center;
        padding-bottom:50px;
         
    }
    .footer__card:last-child{
        width: 100%;

    }
    .footer__card{
        width: 33.3%;
        text-align:center;
        padding-bottom:50px;
    }
    .footer__input input{
        width: 50%;
    }
    .footer__input button{
        width: 50%;       
    }
}
@media(max-width:600px){
    .footer{
        padding:60px 0;

    }
}

@media(max-width:480px){

    .footer__card{
        width: 100%;
        text-align:center;
        padding-bottom:50px;
    }
    .footer__input input{
        width: 70%;
    }
    .footer__input button{
        width: 70%;       
    }
    
}
