.header{
    position: absolute;
    z-index: 1;
    width: 100%;
    /* background: #1D1B1B; */
}
.header.landing{
    background: #FFFFFF;
}
.header__container{
    width: 1250px;
    margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.header__icon{
    outline:none;
}
/* .header__nav{
    display: flex;
    align-items: center;
} */
.header__menu{
	display: none;
}
.header__nav--mobile{
    display: none;

}
.nav{
    display: flex;
    padding-right: 100px;
} 
.nav__item{
    list-style: none;
    padding: 0 35px;
}
.nav__link{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gilroy';
    position: relative;
}
.nav__link.landing{
    color:#1D1B1B;
}

.nav__link::after{
	content: '';
	position: absolute;
	background-color: #C34381;
	width: 0%;
	height: 2px;
	top: calc(100% + 15px);
	left:0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: (50%);
	    -ms-transform: (50%);
	        transform: (50%);
}

.nav__link:hover::after{
	color: #C34381;
	width: 100%;
}


@media(max-width: 1200px){
    .header__container{
        width: 1100px;
        margin: 0 auto;
    }
    .nav {
        padding-right: 0;
    }
    .nav__item {
        padding: 0 27px;
    }
}

@media(max-width: 1024px){
    .header__container{
        width: 924px;
        margin: 0 auto;
    }
    .nav__item {
        padding: 0 15px;
    }
}

@media(max-width:800px){
    .header__container{
        width: 668px;
        margin: 0 auto;
    }
    .nav__item {
        padding: 0 5px;
    }
}
@media(max-width:600px){
    .header__container{
        width: 550px;
        margin: 0 auto;
    }
    .nav__item {
        padding: 0 5px;
    }
}
@media(max-width:480px){

    .header__container{
        width: 360px;
        margin: 0 auto;
    }
    .header__menu{
		display: block;
		width: 30px;
		height: 30px;
		margin-bottom: 5px;
        cursor: pointer;
        
	}
	.header__menu img{
		width: 100%;
    }
    
    .header__nav{
		position: fixed;
		width: 70%;
		height: 100%;
		background-color:  #1D1B1B;
		top:0px;
		text-align: left;
		right: -100vw;
		padding:0 30px; 
		transition: .7s;
		opacity: 0.99;	
        z-index: 100;	
        
	}
	.header__nav.active{
		right: 0;
		transition: .7s;
	}
	.nav{
		display: flex;
		width: 100%;
		flex-direction: column;
		margin-top:70px;
	}
	.nav__item{
		padding: 10px 0;
	}
	.nav li a{
		color: #fff;
		margin: 0;
		font-size: 17px;
		font-family: 'Gilroy-reg';
	}
	.header__nav--mobile{
		display: block;
		color: #fff;
		width: 15px;
		height: 15px;
		margin-top:55px;
        cursor: pointer;
        text-align: left;


	}
	.header__nav--mobile img{
        width: 100%;
	}
}

@media(max-width:375px){
    .header__container{
        width: 350px;
        margin: 0 auto;
    }
}

@media(max-width:320px){
    .header__container{
        width: 300px;
        margin: 0 auto;
    }
}




/* landing */
.header.landing{
    background: #FFFFFF;
}
.nav__link.landing{
    color:#1D1B1B;
}

@media(max-width:425px){
    .nav__link.landing{
        color:#FFFFFF;
        margin: 0;
		font-size: 17px;
		font-family: 'Gilroy-reg';
    }
}