.main{
    width: 100%;
    height: 100vh;
}
.main__container{
    width: 1220px;
    display: flex;
    margin-left: auto;
    height: 100%;
}
.main__inner{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.main__content{
    position: absolute;
    width: 40%;
    z-index: 1;
}
.main__content h1{
    color:#fff;
    font-family: 'Gilroy-semi';
    font-size: 48px;
    line-height: 58px;
}
.main__content p{
    color:#fff;
    font-size: 14px;
    font-family: 'Gilroy-reg';
    line-height: 16px;
    font-weight: 400;
    padding: 10px 0 20px 0;
}
.main__content button{
    width: 190px;
    height: 40px;
    background: linear-gradient(101.89deg, #5A2BBA 0%, #C34381 100%);
    box-shadow: 0px 6px 10px rgba(90, 43, 186, 0.4);
    border: none;
    color:#fff;
    font-family: 'Gilroy-semi';
    font-size: 18px;
    line-height: 22px;
    cursor:pointer;
}
.main__img{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 50px;
    /* margin-top: auto; */
    
}
.main__img img{
    width: 100%;   
}

/* landing */
.main.landing{
    background: transparent;
}
.main__content.landing h1{
    color:#5A2BBA;
    padding:50px 0;
}
.main__content.landing {
    background:#ffffff;
}
.main__content.landing--button{
    display: flex;
    width: 100%;
    background: #ffffff;
    padding-bottom:50px;
}
.main__content.landing--button button:last-child{
    width: 190px;
    height: 40px;
    background: transparent;
    border: 1px solid #1D1B1B;
    color:#1D1B1B;
    font-family: 'Gilroy-semi';
    font-size: 18px;
    line-height: 22px;
    cursor:pointer;
    margin-left: 20px;
}

@media(max-width:425px){
    .main__content.landing--button {
        flex-direction: column;
        align-items: center;
        
    }
    .main__content.landing--button button:last-child {
        margin-left: 0;
        margin-top:20px;
        width: 252px;
    }
    .main__content.landing--button button {
        width: 252px;
    }

    .main__container.landing{
        margin:0 auto;
    }
    .main__content.landing h1{
        text-align: center;
    }
}

/* businsess */
.header__container.business{
    height:100%;
}
.main__inner.business{
    height:100%;
}
.main__img.business{
    position: relative;
}
.main__content.business{
    bottom:25px;
    left:-50px;
}
.main__content.business.tablet{
    display:none;
}
.main__content.business h1{
    color:#5A2BBA;
    padding:50px 0;
}
.main__content__business--button button:last-child{
    width: 190px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #1D1B1B;
    color:#1D1B1B;
    font-family: 'Gilroy-semi';
    font-size: 18px;
    line-height: 22px;
    cursor:pointer;
    margin-left: 20px;
}

@media(max-width:1024px){
    .main__content.business{
        position: absolute;
        width: 70%;
    }
    .main__content.business h1 {
        padding: 35px 0;
    }
    .main__content h1 {
        font-size: 43px;
        line-height: 50px;
    }
    .main__content__business--button{
        display:flex;
        flex-direction: column;
    }
    .main__content__business--button button{
        width: 280px;
    }
    .main__content__business--button button:last-child{
        margin-top:10px;
        margin-left: 0px;
        width: 280px;
    }
    .main__content.business {
        bottom: -30px;
    }
}
@media (max-width: 800px){
    .main__content.business h1 {
        font-size: 36px;
        line-height: 42px;
    }
    .main__content__business--button button {
        width: 210px;
    }
    .main__content__business--button button:last-child{
        width: 210px;
    }
    .main__content.business {
        bottom: -105px;
        left: -85px;
    }
}
@media(max-width:425px){
    .main__content.business.tablet{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: initial;
        width: 100%;
    }
}


/* corporate */
.main__img.corporate{
    margin-right: auto;
    margin-left:0;
    padding-top:80px;
}
.main__container.corporate {
    margin-left: 0;
    margin-right: auto;
}
.main__content.corporate{
    right: -280px;
    bottom: -50px;
    width:60%;
}
.main__content.corporate.tablet{
    display:none;
}
.main__content.corporate h1{
    color:#5A2BBA;
    padding:50px 0;
}
.main__content__corporate--button button:last-child{
    width: 190px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #1D1B1B;
    color:#1D1B1B;
    font-family: 'Gilroy-semi';
    font-size: 18px;
    line-height: 22px;
    cursor:pointer;
    margin-left: 20px;
}
.main__img.corporate{
    position: relative;
}




@media(min-width:1500px){
    .main__container{
        width: 1250px;
        margin: 0 auto;
    }
    .main__container.corporate{
        width: 1250px;
        margin: 0 auto;
    }
    .main__content.corporate{
        right: -280px;
        bottom: -50px;
        width:60%;
    }
}

@media(max-width:1200px){
    .main__container {
        width: 1070px;
    }
    .main__img {
        width: 85%;
    }
}

@media(max-width:1024px){
    .main__container {
        width: 875px;
    }
    .main__img {
        width: 85%;
    }
}

@media(max-width:800px){
    .main__container {
        width: 638px;
    }
    .main__img {
        width: 68%;
    }
    .main__content {
        width: 60%;
    }
    .main__content h1 {
        font-size: 42px;
        line-height: 50px;
    }
    .main__content.corporate h1 {
        font-size: 36px;
        line-height: 42px;
        padding: 24px 0;
    }
    .main__content__corporate--button button {
        width: 210px;
    }
    .main__content__corporate--button button:last-child{
        width: 210px;
        margin-left:0px;
        margin-top:10px;
    }
    .main__content.corporate {
        right: -150px;
        bottom: -100px;
    }
}
@media(max-width:600px){
    .main__container {
        width: 550px;
    }
    .main__img {
        width: 68%;
    }
    .main__content {
        width: 60%;
    }
    .main__content h1 {
        font-size: 42px;
        line-height: 50px;
    }
}

@media(max-width:480px){
    .main__container {
        width: 390px;
    }
    .main__img {
        display: none;
    }
    .main__content {
        width: 100%;
    }
    .main__content h1 {
        font-size: 42px;
        line-height: 50px;
    }
    .main__content{
        position: relative;
        z-index:auto;
    }
    .main__content h1 {
        font-size: 38px;
        line-height: 47px;
    }
    .main__container.corporate{
        margin:0 auto;
    }
    .main__content.corporate.tablet{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: initial;
        width: 100%;
    }
    .main__content__corporate--button  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:375px){
    .main__container {
        width: 350px;
    }
    .main__content h1 {
        font-size: 35px;
        line-height: 50px;
    }
}

@media(max-width:320px){
    .main__container {
        width: 300px;
    }
    .main__content h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .main__content p {
        font-size: 12px;
        padding: 30px 0 30px 0;
    }
   
}

