.modal{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
  }
  .modal--backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
  }
  .modal-inner{
    position: relative;
    z-index: 2;
    width: 40%;
    height: 50%;
    background-color: #211D1F;
    border-radius: 5px;
    border: 1px solid #C34381;
    text-align: center;
    opacity: 0.99;
  }
  .modal-inner h1{
    margin-top:35px;
    font-size: 24px;
    font-family: Gilroy;
    color:#fff;
  }
  .modal-inner p{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    padding: 15px 0;
    margin-bottom: 50px;
  }
  .modal-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  /* Full-width textarea */
  .modal-form input {
    border-radius: 5px;
    height: 40px;
    margin-bottom: 25px;
    border: 1px solid #FFFFFF;
    background:transparent;
    font-size: 14px;
    color:#ffffff;
    padding:0 150px 0 10px;
  }
  .modal-form input.active{
    outline: 1px solid #C34381;
  }
  .modal-form input:focus{
    box-shadow: 0px 6px 10px rgba(90, 43, 186, 0.4);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  .modal-form button{
    padding:0 100px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    border:none;
    background:linear-gradient(101.89deg, #5A2BBA 0%, #C34381 100%);
    color:#fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 6px 10px rgba(90, 43, 186, 0.4);
  }
  
  .modal-form button:hover{
    background-color: #C34381;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
  }
  
  
  .modal-close {
    background-color: transparent;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border:none;
    position: absolute;
    right: 0;
    top: 0;
    margin:10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
  }
  .modal-close:hover{
     -webkit-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
             transform: rotate(90deg);
     -webkit-transition: .3s;
     -o-transition: .3s;
     transition: .3s;
     cursor: pointer;
  }
  .modal-close img {
    width: 100%;
  }
  
  
  @media(max-width: 1024px){
    .modal-inner{
      width: 40%;
      height: 60%;
    }
   
  }
  @media(max-width: 768px){
    .modal-inner{
      width: 60%;
      height: 60%;
    }
  }
  @media(max-width: 425px){
    .modal-inner{
      width: 90%;
      height: 60%;
    }
    .modal-inner h1{
      margin-top:50px;
    }
    
  }
 @media(max-height: 625px){
    .modal-inner{
      height: 80%;
    }
    .modal-inner h1{
      margin-top:50px;
    }
    
  }
  
  @media(max-width: 325px){
    .modal-form input{
      padding:0 90px 0 10px;
    }
    .modal-form button{
        padding:0 68px;
    }
  }