.offer{
    /* background: #1D1B1B; */
    position: relative;
}
.offer::before{
    content: '';
    position: absolute;
    background-color: #C34381;
    width: 150px;
    height: 2px;
    left: 0px;
    top: 87px;
    z-index: 1;
}
.container{
    width: 1050px;
    margin: 0 auto;
}
.section__name h1{
    color:#5A2BBA;
    font-family: 'Gilroy-semi';
    font-size: 48px;
    line-height: 58px;
    padding: 60px 0;
}
.offer__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.offer__content{
    width: calc(33.3% - 54px);
    
}
.offer__card{
    height: 400px;
    position: relative;
    box-shadow: 0px 6px 20px rgba(90, 43, 186, 0.4);
    
}
.offer__card__content{
    position: absolute;
    bottom:0;
    background: linear-gradient(180deg, rgba(90, 43, 186, 0) 0%, #5A2BBA 100%);
    height: 300px;
    padding: 30px;
    transition:.4s;
}
.offer__card:hover .offer__card__content{
    transition:.4s;
    height:100%;
    padding: 50px 30px;
}
.offer__card__content h2{
    font-family: 'Gilroy-semi';
    font-size: 23px;
    line-height: 29px;
    color:#fff;
    padding-top:150px;
}
.offer__card__content p{
    font-family: 'Gilroy-reg';
    font-size: 14px;
    line-height: 16px;
    color:#fff;
    padding:10px 0 30px 0;
}
.offer__card--button{
    padding-bottom: 60px;
}
.offer__card--button button{
    width: 100%;
    background: linear-gradient(104.65deg, #5A2BBA 0%, #C34381 100%);
    box-shadow: 0px 6px 10px rgba(90, 43, 186, 0.4);
    border:none;
    margin-top:35px;
    height: 50px;
    color:#fff;
    font-family: 'Gilroy-semi';
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}




@media(max-width: 1200px){
    .container{
        width: 960px;
    }
    .offer::before {
        width: 108px;
    }
    .offer__content {
        width: calc(33.3% - 24px);
    }
}


@media(max-width: 1024px){
    .container{
        width: 780px;
    }
    .offer::before {
        width: 108px;
    }
    .offer__content {
        width: calc(50% - 95px);
        margin: 0 auto;
    }   
}

@media(max-width: 800px){
    .container{
        width: 520px;
    }
    .offer::before {
        width: 108px;
    }
    .offer__content {
        width: calc(100% - 225px);
        margin: 0 auto;
    }   
}
@media(max-width:600px){
    .offer::before{
        width: 300px;
        top: 127px;
    }
}


@media(max-width: 480px){
    .container{
        width: 390px;
    }
    .offer::before{
        width: 300px;
        top: 127px;
        z-index: auto;
    }
    .offer__content {
        width: calc(100% - 94px);
        margin: 0 auto;
    }   
    .section__name h1{
        text-align: center;
    }
}

@media(max-width: 375px){
    .container{
        width: 350px;
    }
    .offer__card{
        height: 347px;
    }
    .offer__card img{
        width: 100%;
    }
    .offer__card__content h2{
        padding-top:125px;
    }
}

@media(max-width:320px){
    .section__name h1 {
        font-size: 36px;
    }
    .container{
        width: 300px;
    }
    .offer__card__content {
        padding: 14px
    }
    .offer__card__content p {
        font-size: 12px;
    }
    .offer__card__content h2 {
        font-size: 17px;
        padding-top: 175px;
    }
    .offer__card{
        height: 279px;
    }

}