.price{
    position: relative;
}
.price::before{
    content: '';
    position: absolute;
    background-color: #C34381;
    width: 150px;
    height: 2px;
    left: 0px;
    top: 87px;
    z-index: 1;
}
.price__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:50px 0;
}
.price__card{
    width: 33.3%;
}
.price__card:first-child{
    display: flex;
    align-items: center;
}
.price__card p{
    font-family: 'Gilroy-reg';
    font-size: 36px;
    line-height: 42px;
    color: #1D1B1B;
}
.price__card span{
    font-family: 'Gilroy-semi';
    font-size: 50px;
    line-height: 42px;
    color: #C34381;
}
.price__card h2{
    font-family: 'Gilroy-reg';
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-bottom:25px;
}

@media(max-width:1024px){
    .price::before{
        width: 108px;
    }
}

@media(max-width:768px){
    
    .price__inner{
        flex-direction: column;
    }
    .price__card{
        width: 100%;
    }
    .price__card p{
        padding-bottom: 30px;
    }
}
@media(max-width:425px){

    .price__card {
        text-align: center;
    }
    .price::before{
        width: 300px;
        top: 127px;
        z-index: auto;
    }
}

/* corporate */
.price__card.corporate{
    width: 50%;
}

@media(max-width:480px){
    .price__card.corporate{
        width: 100%;
    }
    .price__card.corporate h2 {
        font-size: 14px;
    }
}