.review{
    position: relative;
    /* background:#1D1B1B; */
}
.review::before{
    content: '';
    position: absolute;
    background-color: #C34381;
    width: 150px;
    height: 2px;
    left: 0px;
    top: 87px;
    z-index: 1;
}
.review__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px
}
.review__card{
    width: calc(21%);
    position: relative;
}

.review__content{
    position: absolute;
    top:15px;
}
.review__card__head{
    display: flex;
    padding:  0 25px;
}
.review__card__head img{
    padding:  0 20px 0 0;
}
.review__card__head h1{
    font-family: 'Gilroy-semi';
    font-size: 16px;
    line-height: 19px;
    color: #C34381;
}
.review__card__head p{
    font-family: 'Gilroy-reg';
    font-size: 10px;
    line-height: 12px;
    color: #C4C4C4;
}
.review__card__content p{
    font-family: 'Gilroy-reg';
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    padding: 20px;
}



@media(min-width:1500px){
    .review__card{
        width: 310px !important;
    }
}


@media(max-width:1200px){
    .review::before {
        width: 108px;
    }
    .review__card{
        width: calc(347px - 45px) !important;
    }
}
@media(max-width:600px){
    .review__card{
        padding-left: 5px;
    }
    .review::before{
        width: 300px;
        top: 127px;
    }
}

@media(max-width:480px){
   
    .review::before {
        width: 108px;
    }
    .review__card{
        width: calc(347px - 40px) !important;
        padding-left:4px;
    }
    .review::before{
        width: 300px;
        top: 127px;
        z-index: auto;
    }

}

@media(max-width:375px){
    .review__card{
        padding-left: 3px;
    }
}
@media(max-width:375px){
    .review__card{
        padding-left: 6px;
    }
}

@media(max-width:320px){
    .review__card{
        padding-left: 6px;
    }
}