.stages{
    position: relative;
}
.stages::before{
    content: '';
    position: absolute;
    background-color: #C34381;
    width: 150px;
    height: 2px;
    left: 0px;
    top: 87px;
    z-index: 1;
}
.stages__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stages__card{
    width: calc(50% - 20px);
    display: flex;
    padding-bottom: 30px;
}
.stages__number{
    width: 80px;
    height: 77px;
    margin-right: 80px;
    position: relative;
}
.stages__number h1{
    font-family: 'Gilroy-semi';
    font-size: 64px;
    line-height: 77px;
    color: #C34381;
}
.stages__number.line::before{
    content:'';
    position: absolute;
    background-color: #1D1B1B;
    width: 1px;
    height: 90px;
    left: 36px;
    top: 80px;
    z-index: 1;
}


.stages__content h1{
    font-family: 'Gilroy-semi';
    font-size: 36px;
    line-height: 44px;
    color: #C34381;
    padding-bottom: 10px;

}
.stages__content p{
    font-family: 'Gilroy-reg';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

@media(max-width:768px){
    .stages__card{
        width: 98%;
        padding-top:10px;
    }
    .stages__number.lines::before{
        content:'';
        position: absolute;
        background-color: #1D1B1B;
        width: 1px;
        height: 90px;
        left: 36px;
        top: 80px;
        z-index: 1;
    }
    .stages::before {
        width: 108px;
    }

}
@media(max-width:425px){
    .stages__card{
        width: 98%;
        padding-top:10px;
    }
    .stages__number.lines::before{
        content:'';
        position: absolute;
        background-color: #1D1B1B;
        width: 1px;
        height: 90px;
        left: 36px;
        top: 80px;
        z-index: 1;
    }
    .stages::before{
        width: 300px;
        top: 127px;
    }
}
@media(max-width:375px){
    .stages__card{
        width: 98%;
        padding-top:10px;
    }
    .stages__number.lines::before{
        content:'';
        position: absolute;
        background-color: #1D1B1B;
        width: 1px;
        height: 90px;
        left: 36px;
        top: 80px;
        z-index: 1;
    }
    .stages__number {
        width: 60px;
        margin-right: 57px;
    }
    .stages__number h1 {
        font-size: 55px;
    }
    .stages__content h1 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media(max-width:325px){
    .stages__number {
        width: 35px;
    }
    .stages__number h1 {
        font-size: 45px;
    }
    .stages__number.line::before {
        left: 27px;
    }
    .stages__content h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .stages__content p {
        font-size: 13px;
    }
}



/* business */

.stages__inner.business{
    justify-content: center;
    padding:50px;
}

@media(max-width:1024px){
    .stages::before {
        width: 108px;
    }
}
@media(max-width:768px){
    .stages__inner.business img{
        width: 170%;
    }
}
@media(max-width:425px){
    .stages__inner.business img {
        width: 135%;
    }
    .stages::before {
        width: 300px;
        top: 127px;
        z-index: auto;
    }
}
@media(max-width:375px){
    .section__name h1 {
        font-size: 40px;
        line-height: 45px;
    }
}
@media(max-width:320px){
    .stages__inner.business img {
        width: 150%;
    }
}

